*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*Header*/

.nav{
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end; 
}/*ajusta o tamanho e cor da classe nav, além de torna-la flex e por seu conteúdo no final*/

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}/*Ajusta a lista dentro da nav para se comportar como linha e coloca seus itens no parte central da lista, além de tirar sua decoração e aplicar uma margem*/

.nav-list a{
    text-decoration: none; /*tirar qualquer decorção da tag "a"*/
    color: #DDD;
    padding: 20px;
}

.nav-list a:hover{
    color: white; /*mudar a cor após o mouse passar por cima*/
}

/*Main*/

.main{
    width: 100%;
    height: calc(100vh - 80px); /*tamanho inteiro da tela - o tamanho do header, para evitar scroll*/
    background-color: antiquewhite;
    background-image: url("assets/programador.png"); /*Torna o background igual de uma imagem com a url passada*/
    display: flex;
    align-items: center;
    padding-left:10% ;
}

.main h1{
   color: #FFFFFF;
   font-size:54px ; 
}

.main p{
    font-size: 24px;
    font-style: italic;
    color: #1e96fc;
    margin-top: 15px;
    margin-bottom: 35px;
}

.call-to-action{
    cursor: pointer;/*Faz o cursor do mouse mudar para mãozinha sempre que passar em cima do elemento indicado pelo seletor*/
    background-color: #FFFFFF;
    border: 0px;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s; /*tempo que ele levara para fazer a transição se um elemento mudar de propriedades, nesse caso tamanho*/
}

.main a{
    text-decoration: none;
    color: #181818;
}

.call-to-action:hover{
    transform: scale(1.1); /*Altera o tamanho do elemento com base em uma escala passada */
}

/*About*/
.about{
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about div{
    max-width: 50%; /*ajusta a largura máxima do elemento*/
    padding-right: 40px;
}

.about img{
    max-width: 450px;
    border-radius: 8px;
}

.about div h2{
    font-size: 32px;
    margin-bottom: 14px;
}


